<!DOCTYPE html>
<html>
<head>
    <title>BirdSighting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/listPage.css' />
    <script src="/javascripts/script.js"></script>
    <link rel="manifest" href="/manifest.json">
    <script src="/javascripts/jump.js"></script>
</head>
<body>
    <main class="table">
        <section class="table_header">
            <h1>Bird Sighting</h1>
            <button id="myButton" onclick="location.href='/addPage'">Add</button>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="/images/search.png" alt="">
            </div>
        </section>
        <section class="table_body">
            <table class="birdTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date/Time</th>
                    <th>Location</th>
                    <th>Identification</th>
                    <th>User</th>
                    <th>Detail</th>
                </tr>
                </thead>
                <tbody>
                <%
                if(Data.length!=0){
                    var i=1;
                Data.forEach(function(data){
                %>
                <tr>
                    <td><%=data.id %></td>
                    <td><%=data.date %></td>
                    <td><%=data.location %></td>
                    <td><%=data.identification %></td>
                    <td><%=data.user %></td>
                    <td><button class="detail-button">Detail</button></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>