<!DOCTYPE html>
<html>
<head>
    <title>BirdSighting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/listPage.css' />
    <script src="/javascripts/script.js"></script>
    <link rel="manifest" href="manifest.json">
    <script src="/javascripts/jump.js"></script>
    <script src="/javascripts/indexDB.js"></script>

</head>
<body>
    <main class="table">
        <% include ../public/views/listPage_header.ejs %>
        <section class="table_body">
            <table class="birdTable">

                <% include ../public/views/table_header.ejs %>

                <tbody>
                <%
                if(Data.length!=0){
                    var i=1;
                Data.forEach(function(data){
                %>
                <tr>
                    <td><%=data.id %></td>
                    <td><%=data.date %></td>
                    <td><%=data.location %></td>
                    <td><%=data.identification %></td>
                    <td><%=data.user %></td>
                    <td><button class="detail-button">Detail</button></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </section>
    </main>
</body>
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' });
    }
</script>

<script>
    openDB("helloIndexDB", 1);
</script>

</html>