<!DOCTYPE html>
<html>
<head>
    <title>reviewPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/reviewPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/javascripts/info.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/indexDB.js"></script>

</head>
<body>
<div id="container">
    <div class="head">
        <div class="titles">
            <h1 style="color: #333333">Bird Sighting</h1>
            <h2 style="color: #333333"><%= Data.identification %></h2>
            <div class="date-time" style="color: #333333">
                <%= Data.date %>
            </div>
            <div class="change-container">
                <label id="change-label" style="color:#333333;">Type:</label>
                <input id="type-name">
                <button class="change-button" onclick="updateIdentification()">Change</button>
            </div>
        </div>
        <div class="exit_link">
            <button class="exit_btn" onclick="location.href='/'">Exit</button>
        </div>
    </div>

    <div id="sightingID" hidden> <%= Data.id %> </div>
    <div id="roomNum" hidden> <%= Data.password %> </div>

    <div class="image">
        <img src="<%= Data.img.replace('public', '') %>"
         width="500" height="300" >
    </div>

    <div class="location">
        <h1 style="color: #333333"> <%= Data.location%> </h1>
        <div id="map"></div>
    </div>

    <div class="chat">
        <div class="messages-container">
            <h1 id="Welcome" style="color: #333333"></h1>
            <p id="status" style="color: #333333"></p>
            <ul id="messages" style="color: #333333"></ul>
        </div>
        <div class="history" class="boxed"></div>
        <form id="form" action="">
            <input id="input" autocomplete="off" />
            <button>Send</button>
        </form>
    </div>

    <div class="info">
        <div class="info-container">
            <h1 style="color:#333333;">Please enter your name to start chat</h1>
        </div>
        <div class="chat-info-container">
            <div class="input-container">
                <label id="name-label" style="color:#333333;">Name:</label>
                <input id="name">
            </div>
            <h6 style="color: #333333;">If you are uploader, you can enter password, or just ignore that.</h6>
            <div class="input-container">
                <label id="pwd-label" style="color: #333333;">Password:</label>
                <input id="password">
            </div>

            <div class="button-container">
                <button class="confirm-button">Confirm</button>
            </div>
        </div>
    </div>

    <div class="description">
        <h1 style="color: #333333">description</h1>
        <p> <%= Data.description%></p>
        <p id="DB-des" style="color: #333333"></p>
        <p id="address" style="color: #333333"></p>
    </div>

</div>

<script>

    // Initial SocketIO
    setupSocketIO();

    function setupSocketIO() {

        var socket = io();
        // get the form and content from input
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        // add listener
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            if (input.value) {
                // get name from sessionStorage
                let name = sessionStorage.getItem('username');
                socket.emit('chat message', { name: name, message: input.value });
                input.value = '';
            }
        });

        socket.on('welcome',function(data){
            document.getElementById('Welcome').innerHTML = data.description;
            let historyData = JSON.stringify({"room_num":document.getElementById("roomNum").innerHTML})
            $.ajax({
                url: '/readChat',
                type: 'post',
                data: historyData,
                contentType: "application/json; charset=utf-8",
                processData: false,
                success: function(response) {
                    console.log(response)
                    response.forEach(function (item,index,self){
                        console.log(item.text)
                        var historyItem = document.createElement('li');
                        var nameSpan = document.createElement('span');
                        let name = item.user
                        nameSpan.textContent = item.user === name ? name : item.user;
                        nameSpan.className = item.user === name ? 'user-name' : '';
                        historyItem.appendChild(nameSpan);
                        historyItem.append(': ' + item.text);
                        messages.appendChild(historyItem);
                        window.scrollTo(0, document.body.scrollHeight);
                    })
                }
            });
        });

        // output the message from user
        socket.on('chat message', function(data) {
            var item = document.createElement('li');
            var nameSpan = document.createElement('span');
            let name = sessionStorage.getItem('username');
            nameSpan.textContent = data.name === name ? name : data.name;
            nameSpan.className = data.name === name ? 'user-name' : '';
            item.appendChild(nameSpan);
            item.append(': ' + data.message);
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
            let room_num = document.getElementById("roomNum").innerHTML
            let chatData = JSON.stringify({"room_num":room_num,"user":data.name,"text":data.message})
            let chatDataForIndex = {"room_num":room_num,"user":data.name,"text":data.message}
            addData("chat",chatDataForIndex)
            $.ajax({
                url: '/saveChat',
                type: 'post',
                data: chatData,
                contentType: "application/json; charset=utf-8",
                processData: false,
                success: function(response) {
                    alert(response);
                }
            });

        });

        socket.on('broadcast',function(data){
            document.getElementById('status').innerHTML = data.description;
        });
    }

</script>

<script>
    function initMap() {
        let myLatLng = {lat: 53.3748336, lng: -1.4774189};

        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: myLatLng
        });

        let marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'My Location'
        });
    }
    google.maps.event.addDomListener(window, 'load', initMap);

</script>

<script>
    function updateIdentification(){
        let type = document.getElementById("type-name").value;
        let password = document.getElementById("password").value;
        let id = document.getElementById("sightingID").innerHTML;
        let sendData = JSON.stringify({"id": id, "identification": type, "password": password});
        console.log("sendData" + sendData);

        $.ajax({
            url: '/updateSighting',
            type: 'post',
            data: sendData,
            contentType: "application/json; charset=utf-8",
            processData: false,
            success: function(response) {
                alert(response);
            }
        });
    }
</script>
<script>
    // get the content from the DBPedia, and display on the DIV of description.
    $(document).ready(function(){
        // This is a test
        var identifier = '<%= Data.identification %>';
        $.get('/dbpedia/' + identifier, function(data) {
            $('#DB-des').text('Descrption from DBpedia: ' + data);
            $('#address').html('<a href="http://dbpedia.org/resource/' + identifier + '">Read more on DBPedia</a>');
        });
    });
</script>


</body>
</html>